body {
  margin: 0;
}
.top, .btm {
  height: 150px;
  background-color: #f59042;
  border: 2px solid red;
}
.box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.boxes {
  background-color: #4f756c;
  height: 500px;
  width: 48%;
  border: 2px solid red;
}
.case {
  height: 200px;
  background-color: #c2ff19;
  border: 2px solid red;
  margin: 30px 10px;
}
.two {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.min_box {
  background-color: #c2ff19;
  height: 200px;
  width: 45%;
  border: 2px solid red;
}